name: Renovate core repositories
run-name: Renovate core repositories [${{ inputs.type }}] [dry-run:${{ inputs.dry-run }}] by @${{ github.actor }}'

on:
  workflow_call:
    inputs:
      type:
        type: string
        required: true
      dry-run:
        type: boolean
        required: true
      log-level:
        type: string
        required: true
    secrets:
      MAVEN_USER:
        required: true
      MAVEN_TOKEN:
        required: true
      MAVEN_GPG_PASSPHRASE:
        required: true
      GH_ACCESS_TOKEN:
        required: true

  workflow_dispatch:
    inputs:
      type:
        type: choice
        description: "type"
        required: true
        options:
          - repositories
          - configuration
          - test
      dry-run:
        type: boolean
        description: "dry run"
        required: true
      log-level:
        type: choice
        description: "LOG_LEVEL for renovate"
        required: true
        options:
          - info
          - debug

concurrency:
  group: "renovate-${{ inputs.type }}"
  cancel-in-progress: false

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      MAVEN_USER: "${{ secrets.MAVEN_USER }}"
      MAVEN_TOKEN: ${{ secrets.MAVEN_PASSWORD }}
      MAVEN_GPG_PASSPHRASE: ${{ secrets.maven-gpg-passphrase }}
      GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
      DRY_RUN: ${{ inputs.dry-run }}
      LOG_LEVEL: ${{ inputs.log-level }}
      TYPE: ${{ inputs.type }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      #      - name: "Cache maven dependencies"
      #        uses: actions/cache@v4
      #        with:
      #          path: ~/.m2/repository
      #          key: ${{ runner.os }}-maven-${{ github.run_id }}
      #          restore-keys: ${{ runner.os }}-maven-

      - name: "Set up java"
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          architecture: 'x64'
          distribution: 'temurin'
          server-id: github
          server-username: MAVEN_USER
          server-password: MAVEN_TOKEN
          gpg-private-key: ${{ inputs.maven-gpg-private-key }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: "Run maven-effective-dependencies-cli"
        id: run-maven-effective-dependencies-cli
        shell: bash
        # language="shell script"
        run: |
          cli_name="maven-effective-dependencies-cli"
          cliVersion="1.2.11-SNAPSHOT"
          cliVersionSpecific="1.2.11-20250816.165735-2"
          url="https://maven.pkg.github.com/Netcracker/qubership-core-bulk-release/org.qubership.cloud/${cli_name}/${cliVersion}/${cli_name}-${cliVersionSpecific}-jar-with-dependencies.jar"
          curl -L -v -o "${cli_name}.jar" -H "Authorization: Bearer ${GH_ACCESS_TOKEN}" "${url}"
          
          args="--baseDir=${GITHUB_WORKSPACE}"
          args="${args} --type1PomRelativeDir=dependencies/spring-dependencies"
          args="${args} --type2PomRelativeDir=dependencies/quarkus-dependencies"
          args="${args} --gitURL=https://github.com"
          args="${args} --gitUsername=actions"
          args="${args} --gitEmail=actions@github.com"
          args="${args} --gitPassword=${GH_ACCESS_TOKEN}"
          args="${args} --checkoutParallelism=4"
          if [[ "${TYPE}" != "configuration" ]]; then
            args="${args} --repositoriesFile=.github/config/renovate-repositories.txt"
          fi
          args="${args} --resultOutputFile=diff.yaml"
          args="${args} --effectiveGavsOutputFile=effective-gavs.txt"
          args="${args} --implicitGavsOutputFile=implicit-gavs.txt"
          cmd="java -jar ${cli_name}.jar ${args}"
          echo "running cmd: ${cmd}"
          eval "${cmd}"

      - name: "Upload implicit-gavs.txt artifact"
        uses: actions/upload-artifact@v6
        with:
          name: implicit-gavs.txt
          path: implicit-gavs.txt

      - name: "Upload effective-gavs.txt artifact"
        uses: actions/upload-artifact@v6
        with:
          name: effective-gavs.txt
          path: effective-gavs.txt

      - name: "Upload diff.yaml artifact"
        uses: actions/upload-artifact@v6
        with:
          name: diff.yaml
          path: diff.yaml

      - name: "Run renovate-config-cli"
        id: run-renovate-config-cli
        shell: bash
        env:
          PROJECT_URL: ${{ github.server_url }}/${{ github.repository }}
        # language="shell script"
        run: |
          # run renovate-config-cli
          cli_name="renovate-config-cli"
          cliVersion="1.3.2-SNAPSHOT"
          cliVersionSpecific="1.3.2-20251020.085536-19"
          url="https://maven.pkg.github.com/Netcracker/qubership-core-bulk-release/org.qubership.cloud/${cli_name}/${cliVersion}/${cli_name}-${cliVersionSpecific}-jar-with-dependencies.jar"
          curl -L -v -o "${cli_name}.jar" -H "Authorization: Bearer ${GH_ACCESS_TOKEN}" "${url}"
          
          branchPrefix="renovate-${GITHUB_REF_NAME}/"
          branchPrefixOld="renovate/"
          
          defLabels="'renovate:core','branch:${GITHUB_REF_NAME}'"
          if [ "${TYPE}" = "configuration" ]; then
            defLabels="${defLabels},'target:configuration'"
          fi
          
          args=()
          args+=("--fromFile=.github/config/renovate.yml")
          if [ "${TYPE}" = "configuration" ]; then
            args+=("--repository=${PROJECT_URL}[branch=${GITHUB_REF_NAME}]")
            args+=("--fromJson={'includePaths':['dependencies/**']}")          
          elif [ "${TYPE}" = "test" ]; then
            args+=("--repositoriesFile=.github/config/renovate-test.txt")
          else
            args+=("--repositoriesFile=.github/config/renovate-repositories.txt")
          fi
          args+=("--fromJson={'branchPrefix':'${branchPrefix}'}")
          args+=("--fromJson={'branchPrefixOld':'${branchPrefixOld}'}")
          args+=("--fromJson={'labels':[${defLabels}]}")
          args+=("--fromJson={'packageRules':[{'matchPackageNames':['/.*/'],'matchUpdateTypes':['major'],'enabled':false,'automerge':false,'addLabels':['type:major']}]}")
          args+=("--fromJson={'packageRules':[{'matchPackageNames':['/.*/'],'matchUpdateTypes':['minor'],'enabled':true,'automerge':false,'addLabels':['type:minor']}]}")
          args+=("--fromJson={'packageRules':[{'matchPackageNames':['/.*/'],'matchUpdateTypes':['patch'],'enabled':true,'automerge':false,'addLabels':['type:patch']}]}")
          args+=("--fromJson={'packageRules':[{'matchPackageNames':['/.*/'],'matchUpdateTypes':['digest'],'enabled':true,'automerge':false,'addLabels':['type:digest']}]}")
          #args+=("--fromJson={'packageRules':[{'matchPackageNames':['/.*.netcracker.*/'],'groupName':'netcracker','addLabels':['group:netcracker']}]}")
          #args+=("--fromJson={'packageRules':[{'matchPackageNames':['/^org.spring.*/'],'groupName':'spring','addLabels':['group:spring']}]}")
          #args+=("--fromJson={'packageRules':[{'matchPackageNames':['/(io.quarkus.*|^io.smallrye.jandex.*)/'],'groupName':'quarkus','addLabels':['group:quarkus']}]}")
          args+=("--fromJson={'packageRules':[{'matchManagers':['maven'],'groupName':'maven','groupSlug':'maven','addLabels':['group:maven']}]}")
          args+=("--fromJson={'packageRules':[{'matchManagers':['gomod'],'matchUpdateTypes':['major'],'groupName':'go-major','groupSlug':'go-major','addLabels':['group:go']}]}")
          args+=("--fromJson={'packageRules':[{'matchManagers':['gomod'],'matchUpdateTypes':['minor'],'groupName':'go-minor','groupSlug':'go-minor','addLabels':['group:go']}]}")
          args+=("--fromJson={'packageRules':[{'matchManagers':['gomod'],'matchUpdateTypes':['patch'],'groupName':'go-patch','groupSlug':'go-patch','addLabels':['group:go']}]}")
          args+=("--fromJson={'packageRules':[{'matchManagers':['gomod'],'matchUpdateTypes':['digest'],'groupName':'go-digest','groupSlug':'go-digest','addLabels':['group:go']}]}")
          # bump go version because there is bug in go when it switches from 1.23.x (from go directive) to 1.25.1 (from toolchain directive)
          args+=("--fromJson={'packageRules':[{'matchManagers':['gomod'],'matchDepNames':['go'],'matchDepTypes':['golang'],'rangeStrategy':'bump','addLabels':['group:go-version']}]}")
          args+=("--fromJson={'packageRules':[{'matchManagers':['github-actions'],'groupName':'github-actions'}]}") 
          #args+=("--groupNameMapping={'netcracker':'com.netcracker.*'}")
          #args+=("--groupNameMapping={'spring':'org.spring.*'}")
          #args+=("--groupNameMapping={'quarkus':'(io.quarkus.*|^io.smallrye.jandex.*)'}")
          #args+=("--groupNameMapping={'com.fasterxml.jackson':'com.fasterxml.jackson.*'}")
          #args+=("--groupNameMapping={'k8s.io':'k8s.io.*'}")
          args+=("--groupNameMapping={'maven':'.*'}")
          if [ "${TYPE}" = "configuration" ]; then
            args+=("--patchGavsFile=implicit-gavs.txt")
          else
            args+=("--strictGavsFile=effective-gavs.txt")
          fi
          args+=("--renovateConfigOutputFile=renovate-config.js")
          if [ "${DRY_RUN}" = "true" ]; then
            args+=("--fromJson={'dryRun':'full'}")
          fi
          java -jar "${cli_name}.jar" "${args[@]}"

      - name: "Upload renovate-config.js artifact"
        uses: actions/upload-artifact@v6
        with:
          name: renovate-config.js
          path: renovate-config.js

      - name: Renovate
        uses: renovatebot/github-action@v42.0.6
        env:
          RENOVATE_MAVEN_USER: "${{ secrets.MAVEN_USER }}"
          RENOVATE_MAVEN_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.GH_ACCESS_TOKEN }}
